:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  padding: 15px 20px;
  height: 10vh;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

main {
  display: flex;
}

aside {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-light);
  height: 100vh;
  min-width: 20vw;
}

button {
  background-color: var(--secondary-light);
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-light);
}

.dashboard {
  margin-top: 30vh;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
dialog {
  position: fixed;
  top: 50vh;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
span {
  cursor: pointer;
}
#project {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#project h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

#project button {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#projectBox button:hover {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}
#projectBox {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

#projectBox h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

#projectBox button {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#projectBox button:hover {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}
#selected {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
}
