:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  padding: 15px 20px;
  height: 10vh;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

main {
  display: flex;
}

aside {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-light);
  height: 100vh;
  min-width: 20vw;
}

.project {
  cursor: pointer;
  background-color: var(--primary-light);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-description {
  margin-bottom: 10px;
}

.delete-button {
  background-color: var(--secondary-dark);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--primary-dark);
}
button {
  background-color: var(--secondary-light);
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-light);
}

.dashboard {
  margin-top: 30vh;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
dialog {
  position: fixed;
  top: 50vh;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
span {
  cursor: pointer;
}
.task {
  background-color: var(--primary-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.task-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.due-date {
  font-size: 14px;
}

.action-button {
  background-color: var(--secondary-dark); /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: var(--primary-dark);
}
